%h2 All Animals

%table#animals.table.table-striped.col-md-12
  %thead
    %tr
      %th Exhibit
      %th Common Name
      %th More Info
  %tbody
    - @animals.each do |animal|
      %tr
        %td= animal.exhibit
        %td= animal.commonName
        %td= link_to "More about #{animal.commonName}", animal_path(animal)


