%head
  %link{:rel => :stylesheet, :type => "text/css", :href => "https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css", :crossorigin=>"anonymous"}
  %script{:type => "text/javascript", :src=> "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", :integrity=> "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :crossorigin=> "anonymous"}
  %script{:language => "javascript", :src => "https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js", :type => "text/javascript"}
  %script{:language => "javascript", :src => "https://cdn.datatables.net/rowreorder/1.2.6/js/dataTables.rowReorder.min.js", :type => "text/javascript"}
  %script{:language => "javascript", :src => "https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js", :type => "text/javascript"}
  = stylesheet_link_tag "devise/users"
  
%div.container
  %div.d-flex.flex-row.mb-3
    %div.col-6
      %ul.nav.nav-tabs
        %li.nav-item
          %a.nav-link.active Approved Users
        %li.nav-item
          = link_to 'Unapproved Users', users_index_path(:approved => false), :class => "nav-link"
  
  %table#userTable.table.table-striped.table-bordered.table-lg
  
  %div#modalContainer

%script{:type => "text/javascript", :src => "https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"}
%script{:type => "text/javascript", :src => "https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"}
:javascript
  $(document).ready(function () {
    var simple_checkbox = function (data, type, full, meta) {
      var is_checked = (data) ? "checked" : "";
      var unchecked_content = (is_checked) ? "" : "&#xd7";
      // console.log("DATA: " + is_checked);
      return '<label class="checkbox-label">' +
              '<input type="checkbox" class="checkbox" ' + is_checked + ' disabled/>' +
              '<span class="checkbox-custom rectangular">' + unchecked_content + '</span>' +
            '</label>'
    }
    
    var convert_from_utc = function (data, type, full, meta) {
      // console.log("DATA: " + data);
      return new Date(data).toString();
    }
    
    var dataTable = $('#userTable').DataTable({
      rowReorder: {
              selector: 'td:nth-child(2)'
      },
      responsive: true,
      "serverSide": true,
      "pageLength": 50,
      "search": {
        "caseInsensitive": true
      },
      "stateSave" : true,
      "ajax": '/users/index',
      "columns": [
          { "title": "ID", "searchable": false, "orderable": false, "visible": false},
          { "title": "Administrator", "render": simple_checkbox, "orderable": false, "className": "text-center"},
          { "title": "First Name"},
          { "title": "Last Name"},
          { "title": "Email"},
          { "title": "View", "searchable": false, "orderable": false, "render": simple_checkbox, "className": "text-center"},
          { "title": "Edit", "searchable": false, "orderable": false, "render": simple_checkbox, "className": "text-center"},
          { "title": "Add", "searchable": false, "orderable": false, "render": simple_checkbox, "className": "text-center"},
          { "title": "Delete", "searchable": false, "orderable": false, "render": simple_checkbox, "className": "text-center"},
          { "title": "Created At", "render": convert_from_utc}
      ],
      "drawCallback": function(settings) {
        $("tbody tr").on('click', function() {
          var data = dataTable.row(this).data()
          var person = { id: data[0], admin: data[1], first_name: data[2], last_name: data[3], email: data[4],
             can_view: data[5], can_edit: data[6], can_add: data[7], can_delete: data[8], created_at: data[9] };

          $.ajax({
              url: "/users/index_partial",
              data: person,
              cache: false,
              type: "GET",
              success: function(response) {
                // console.log('nice' + response.html);
                $('#modalContainer').html(response.html);
                $('#userModal').modal('toggle');
                $('#userModal').on('hide.bs.modal', function() {
                    // We should call to reload after server gets updated info - so wait 1s before reload
                    setTimeout(function() {
                      $('#userTable').DataTable().ajax.reload();
                    }, 1);
                });
              },
              error: function(xhr) {
          
              }
          });
        });
      }
    });
    $('.dataTables_length').addClass('bs-select');
  });



// references
// Styling - https://codepen.io/cristinaconacel/pen/zmgmxE
// Checkboxes - http://live.datatables.net/kovegexo/1/edit
//            - https://stackoverflow.com/questions/27276108/best-way-to-render-boolean-data-columns-in-jquery-datatables-net