// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination{
    padding: 0px 10px 5px 5px;
}

#userTable_length{
    padding: 0px 0px 0px 15px;
}

#userTable_filter{
    padding: 0px 15px 0px 0px;
}

#userTable_info{
    padding: 0px 0px 0px 10px;
}

#userTable tr:hover {background-color:#cccccc;}
